@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");


h1 {
  padding: 45px;
  border: 3px solid;
  color: red;
  background:beige;
  font-size: 45px;
  font-family: roboto;
  background-color:lightsteelblue;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

p {
  font-size: 20px;
  font-family: Poppins;
  text-align: center;
  margin-bottom: 35px;
}
.infos{
  margin: 30 auto;
  color: red;
}

.photo-moyenne {
  margin-top: 20px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

h2,h3 {
  color: black;
  font-size: 35px;
  text-align: center;
  text-decoration: underline;

}

.test{
  background-color: beige;
  border: 1px solid;
  text-align: center;
  margin: 30px auto;
  width: fit-content;
  padding: 25px;
}
a{
  text-decoration: none;
  width: 90;
  height: 60;
  border-radius: 50%;
  background-color: blanchedalmond;
  padding: 20px;
  margin: 10px 10px;
}
.lien{
  font-size: 55px;
  display: inline;
  text-align: center;
}
a:hover {
  background-color: blueviolet;
  color:black
}

















/* Choisis une couleur de fond (background-color), un style de police (font-family), une couleur (color), une taille de police (font-size) et une hauteur de ligne (line-height) pour le corps (<body>). Si tu définis ces règles de police au niveau du corps, elles s’appliqueront à toutes les balises de texte de base (<p>, <li>, etc.). */
